 :root {
     --main-color: #10cab7
 }



 * {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }

 body {
     font-family: "Work Sans", sans-serif;
 }

 .parent {
     background-color: #eee;

 }

 .container {
     margin: 0px auto;
     padding: 0px 15px;

 }


 @media (min-width: 768px) {
     .container {
         width: 750;
     }

 }


 @media (min-width: 929px) {
     .container {
         width: 970;
     }

 }


 @media (min-width: 1200px) {
     .container {
         width: 1170px;
     }

 }


 /*------------STARTING THE HEADER------------*/

 .header {
     padding: 20px;
 }

 .header .container {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .header .logo {
     width: 60px;
 }

 .header .container .links {
     position: relative;
 }

 .header .container .links .icon {
     width: 30px;
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-end;
 }

 .header .container .links .icon span {
     background-color: #333;
     margin: 3px;
     height: 2px;
 }

 .header .container .links .icon span:first-child {
     width: 100%;

 }

 .header .container .links .icon span:nth-child(2) {
     width: 50%;
     transition: 0.3s;
 }

 .header .container .links .icon:hover span:nth-child(2) {

     width: 100%;
 }


 .header .container .links .icon span:nth-child(3) {
     width: 100%;

 }

 .header .container .links:hover ul {
     display: block;
 }


 .header .links ul {
     list-style-type: none;
     padding: 0;
     margin: 0px;
     background-color: #f6f6f6;
     position: absolute;
     right: 0px;
     min-width: 200px;
     display: none;
     z-index: 1;

 }

 .header .links ul li a {
     text-decoration: none;
     color: #333;
     transition: 0.3s;
     padding: 15px;
     display: block;

 }

 .header .links ul li a:hover {
     padding: 20px 0px 20px 25px;

 }

 .header .links ul li:not(:last-child) a {
     border: 1px solid #eee;
 }




 /*------------END HEADER---------------*/

 /*------------START LANDING---------------*/

 .landing {
     background-image: url(../images/pexels-photo-355747.jpeg);
     background-size: cover;
     height: calc(100vh - 64px);
 }

 .landing .into-text {
     position: absolute;
     top: 40%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 320px;

 }

 .landing .into-text h1 {
     color: var(--main-color);
     text-align: center;
     font-size: 50px;
     margin: 0px;
 }

 .landing .into-text p {
     font-size: 18px;
     text-align: center;
     color: black;
 }


 /*------------END LANDING---------------*/


 /*------------START FEATURES---------------*/

 .feature {
     padding: 60px 0px;
     background-color: #f6f6f6;
 }

 .feature .container {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
     gap: 20px;

 }

 .feature .container .features {
     padding: 20px;
     text-align: center;
 }

 .feature .container .features i {
     color: var(--main-color);
 }

 .feature .container .features h3 {
     font-weight: 800;
     margin: 30px 0;
 }

 .feature .container .features p {
     color: #777;
     line-height: 1.6;



 }

 /*------------END FEATURES---------------*/