 :root {
     --main-color: #10cab7
 }



 * {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }

 body {
     font-family: "Work Sans", sans-serif;
 }

 .parent {
     background-color: #eee;

 }

 .container {
     margin: 0px auto;
     padding: 0px 15px;

 }


 @media (min-width: 768px) {
     .container {
         width: 750;
     }

 }


 @media (min-width: 929px) {
     .container {
         width: 970;
     }

 }


 @media (min-width: 1200px) {
     .container {
         width: 1170px;
     }

 }


 /*------------STARTING THE HEADER------------*/

 .header {
     padding: 20px;
 }

 .header .container {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .header .logo {
     width: 60px;
 }

 .header .container .links {
     position: relative;
 }

 .header .container .links .icon {
     width: 30px;
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-end;
 }

 .header .container .links .icon span {
     background-color: #333;
     margin: 3px;
     height: 2px;
 }

 .header .container .links .icon span:first-child {
     width: 100%;

 }

 .header .container .links .icon span:nth-child(2) {
     width: 50%;
     transition: 0.3s;
 }

 .header .container .links .icon:hover span:nth-child(2) {

     width: 100%;
 }


 .header .container .links .icon span:nth-child(3) {
     width: 100%;

 }

 .header .container .links:hover ul {
     display: block;
 }


 .header .links ul {
     list-style-type: none;
     padding: 0;
     margin: 0px;
     background-color: #f6f6f6;
     position: absolute;
     right: 0px;
     min-width: 200px;
     display: none;
     z-index: 1;

 }

 .header .links ul li a {
     text-decoration: none;
     color: #333;
     transition: 0.3s;
     padding: 15px;
     display: block;

 }

 .header .links ul li a:hover {
     padding: 20px 0px 20px 25px;

 }

 .header .links ul li:not(:last-child) a {
     border: 1px solid #eee;
 }




 /*------------END HEADER---------------*/

 /*------------START LANDING---------------*/

 .landing {
     background-image: url(../images/pexels-photo-355747.jpeg);
     background-size: cover;
     height: calc(100vh - 64px);
 }

 .landing .into-text {
     position: absolute;
     top: 40%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 320px;

 }

 .landing .into-text h1 {
     color: var(--main-color);
     text-align: center;
     font-size: 50px;
     margin: 0px;
 }

 .landing .into-text p {
     font-size: 18px;
     text-align: center;
     color: black;
 }


 /*------------END LANDING---------------*/


 /*------------START FEATURES---------------*/

 .feature {
     padding: 60px 0px;
     background-color: #f6f6f6;
 }

 .feature .container {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
     gap: 20px;

 }

 .feature .container .features {
     padding: 10px;
     text-align: center;
 }

 .feature .container .features i {
     color: var(--main-color);
 }

 .feature .container .features h3 {
     font-weight: 800;
     margin: 20px 0;
 }

 .feature .container .features p {
     color: #777;
     line-height: 1.6;



 }

 /*------------END FEATURES---------------*/

 /*------------START SERVICES---------------*/
 .services .container .special-heading {
     text-align: center;
     font-size: 100px;
     color: #ebeced;
     letter-spacing: -3px;
     margin: 0px;
     padding: 60px 0px;
 }

 .services .container .special-heading+p {
     text-align: center;
     margin: -30px 0 0;
     font-size: 20px;
     color: #797979;

 }

 .services .services-content {
     display: grid;
     grid-template-columns: repeat(2, minmax(270px, 1fr));
     grid-gap: 20px;
     margin-top: 100px;
     text-align: center;
 }

 .services .services-content .ser {
     margin-bottom: 40px;
     display: grid;

 }

 @media (max-width:767px) {
     .services .services-content .ser {
         flex-direction: column;
         text-align: center;
     }
 }

 .services .services-content .ser i {
     color: var(--main-color);
 }

 .services .services-content .ser .text h3 {
     margin: 0px 0px 0px 20px;
 }

 .services .services-content .ser .text p {
     color: #333;
     font-weight: 300;
     line-height: 1.6;


 }


 /*------------END SERVICES---------------*/

 /*-----------START PORTFOLIO-----------------*/

 .portfolio {
     background-color: #f6f6f6;
     padding: 60px 0px;

 }

 .portfolio .container .special-heading {
     text-align: center;
     font-size: 100px;
     color: #ebeced;
     letter-spacing: -3px;
     margin: 0px;
     padding: 60px 0px;
     padding-top: 0px;
 }

 .portfolio .container .special-heading+p {
     text-align: center;
     margin: -30px 0 0;
     font-size: 20px;
     color: #797979;

 }

 .portfolio .portfolio-content {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
     grid-gap: 20px;
     margin-top: 100px;


 }

 .portfolio .card {
     background-color: #eee;
     display: flex;
     flex-direction: column;


 }

 .portfolio .card img {

     max-width: 100%;


 }

 .portfolio .card .info h3 {
     padding: 60px 0px;
 }

 .portfolio .card p {
     color: #777;
     line-height: 1.6;
     margin-bottom: 0px;
 }

 /*------------End PORTFOLIO--------------------/



 /*--------------START ABOUT-----------------*/

 .about {

     margin-top: -10px;
 }

 .about .container .special-heading {
     text-align: center;
     font-size: 100px;
     color: #ebeced;
     letter-spacing: -3px;
     margin: 0px;
     padding-top: 60px;
 }

 .about .container p {
     text-align: center;
     margin: -0px 0 0;
     font-size: 20px;
     color: #797979;

 }

 .about .container .about-content {
     padding-top: 100px;
     display: flex;
     flex-direction: row;
     gap: 40px;
     flex-wrap: wrap;
     justify-content: space-between;
 }

 .about .container .about-content .image img {
     max-width: 100%;
     height: 365px;
 }

 .about .container .about-content .image {
     position: relative;
     width: 250px;
     height: 375px;
 }

 .about .container .about-content .image::before {
     content: "";
     position: absolute;
     background-color: #ebeced;
     width: 100px;
     height: calc(100% + 44px);
     top: -40px;
     left: -20px;
     z-index: -1;
 }

 .about .container .about-content .image::after {
     content: "";
     position: absolute;
     width: 120px;
     height: 300px;
     border-left: 80px solid var(--main-color);
     border-bottom: 80px solid var(--main-color);
     z-index: -1;
     right: -90px;
     top: -40px;

 }

 .about .container .about-content .text {
     flex: 1;
 }

 .about .container .about-content .text p {
     color: #777;
     line-height: 2;
 }

 .about .container .about-content .text hr {

     border: none;
     height: 2px;
     background-color: var(--main-color);
 }

 /*--------------END ABOUT-------------------*/


 /*---------START CONTACT---------*/

 .contact {
     background-color: #f6f6f6;
     padding: 60px 0px;

 }

 .contact .container .special-heading {
     text-align: center;
     font-size: 100px;
     color: #ebeced;
     letter-spacing: -3px;
     margin: 0px;
     padding-top: 60px;
 }

 .contact .container p {
     text-align: center;
     margin: -0px 0 0;
     font-size: 20px;
     color: #797979;

 }

 .contact .contact-info {

     padding: 40px 0px;
     text-align: center;

 }

 .contact .contact-info .label {
     font-size: 30px;
     color: #777;
     letter-spacing: -2px;
     margin-bottom: 10px;
 }

 .contact .contact-info .link {
     text-decoration: none;
     font-size: 30px;
     color: var(--main-color);
 }

 .contact .contact-info .social {
     display: flex;
     justify-content: center;
     margin: 20px;
     font-size: 16px;

 }

 .contact .contact-info i {
     margin-left: 5px;
     color: var(--main-color);
 }